<!DOCTYPE html>
<%const currency = new Intl.NumberFormat('en-US', {style: 'currency', currency: 'NGN', minimumFractionDigits: 2 }); %>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title%> | EazyBundle</title>
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" href="/bootstrap.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css" integrity="sha512-5PV92qsds/16vyYIJo3T/As4m2d8b6oWYfoqV+vtizRB6KhF1F9kYzWzQmsO6T3z3QG2Xdhrx7FQ+5R1LiQdUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="h-100" style="">
	<script src="/custom_func.js"></script>
	<!-- offcanvas top-bar -->
	<div class="offcanvas offcanvas-end d-lg-none text bg-info  h-5 w-50" tabindex="-1" id="off-bar-top" aria-labelledby="offcanvasTopLabel">
	  <div class="offcanvas-header pt-0">
	    <h5 class="offcanvas-title" id="offcanvasTopLabel">
	    	<a href="/" >
		    	<!-- <img src="/logo.png"> -->
		    </a>
	    </h5>
	    <button type="button" class="btn-close btn-light mt-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	  </div>
	  <div class="offcanvas-body">
	  	<ul class="list-unstyled flex-column text-start justify-content-start">
	  	  <a href="/" class="btn d-block text-start btn-"><li class="-item">Home</li></a>
	  	  <a href="/#about" class="btn d-block text-start btn-"><li class="-item">About us</li></a>
	  	  <!-- <a href="/#reviews" class="btn d-block text-start btn-"><li class="-item">Reviews</li></a> -->
	  	  <a href="/#pricing" class="btn d-block text-start btn-"><li class="-item">Pricing</li></a>
	  	  <a href="/#services" class="btn d-block text-start btn-"><li class="-item">Services</li></a>
	  	  <!-- <a class="btn btn-" href="#"><li>FAQs</li></a> -->
	  	  <a class="btn d-block text-start btn-" href="#"><li>Privacy policy</li></a>
<!-- 	  	  <a class="btn btn-" href="#"><li>Privacy policy</li></a>
	  	  <a class="btn btn-" href="#"><li>Privacy policy</li></a>
 -->

	  	</ul>

	  </div>
  	  <div class="d-block justify-content-start text-start m-5">
	  <% if (false) { -%>
	  	  <a class="btn btn-danger" href="/logout">Sign out</a>
	  <% //} else { -%>	  	
	  	  <a class="btn btn-primary" href="/login">Log in</a>
	  	  <a class="btn btn-warning" href="/signup">Sign up</a>  	  	
	  <% } -%>
  	  </div>
	</div>


<!-- NOTIFUCATIONS MODAL-->
<% if (user) { -%>	
<div class="modal " id="notification-modal" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-fullscreen-md-down">
    <div class="modal-content">
      <div class="modal-header">
      			<a class="me-2 display-6 text-dark " data-bs-dismiss="modal" href=""><i class="bi bi-arrow-left-circle	"></i></a>
      		<h5 class="text-primary text-uppercase pb-3 p-3 font-italic">
	      	Notifications
		      </h5>
        <!-- <h5 class="modal-title" id="exampleModalLabel">Notification</h5> -->
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
      	<div class="card col-md m-0 notification bg-white me- border-0" style="height: fit-content;">
      			<% if (user.notifications.length) { -%>
      		<div class="list-group">
      			<ul class="list-unstyled">
      				<%
      					let notification = user.notifications
      					for (var i = notification.length-1; i >= 0; i--) { -%>
      				<%
      					let notify_arr = notification[i].split('|')
      					let notify_me = notify_arr[0]
      					let time = parseInt(notify_arr[1]);
      					time = formatDistanceToNow(time, {addSuffix: true})
      				%>
      				<style>
      					.notification li:hover {
      						box-shadow: 1px 0px 3px 0px #000;
      						transition: .05s;
      					}
      				</style>
      					<li class=" p-2 px-3 mb-3 rounded" style="
      						background: rgba(101, 224, 0, 0.2);
      						border-radius: 5px;
      						padding: 15px;
      						margin-bottom: 8px;
      						box-shadow: 0px 0px 5px 1px #000 inset rgba(0, 0, 0, 0.2);
      						cursor: pointer;
      						color: #2b3300;
      						border-left: 5px solid green;
      					"><p class="mb-0"><%= notify_me %></p>
      						<small align="" class="text-muted d-block mt-0 text-end m-0"><%= time %></small>
      					</li>
      				<% } -%>					
      				<div class="text-end">
      					<!-- <a class="btn btn-sm btn-outline-secondary" href="/notifications">More...</a> -->
      				</div>
      			</ul>
      		</div>
      				<% } else { -%>
      					<h3>You have no Notification</h3>
      				<% } -%>
      	</div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary d-none d-md-inline-block" data-bs-dismiss="modal">Back</button> -->
      </div>
    </div>
  </div>
</div>
<% } -%>



	<!-- offcanvas sidebar -->
	<div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="off-bar" aria-labelledby="offcanvasTopLabel">
	  <div class="offcanvas-header">
	    <h5 class="offcanvas-title" id="offcanvasTopLabel"><a href="/" ><img src="/logo.png"></a></h5>
	    <button type="button" class="btn-close rounded-circle btn-outline-warning border" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	  </div>
	  <div class="offcanvas-body offcanvas-sidebar ms-5">
	  	<ul class="list-unstyled pt-3">

	  		<a href="/dashboard" class="<% if (title == 'Dashboard') { -%> active <% } -%> ">
	  			<li class="bar-item">
	  				<i class="bi bi-house-fill"></i>
	  				Dashboard
	  			</li>
	  		</a>


	  		<a href="" class="<% if (title == 'MTN SME' || title == 'MTN Corporate' || title == 'Glo Data' || title == 'Airtel Data' || title == '9mobie Data') { -%> active <% } -%>" data-bs-toggle="collapse" data-bs-target="#buy-data-tog" aria-expanded="true" aria-controls="buy-data-tog">
	  			<li class="bar-item">
	  				<i class="bi bi-file-bar-graph-fill"></i>
	  				Buy Data
	  			</li>
	  		</a>
	  		<div id="buy-data-tog" class="accordion-collapse collapse ms-3" aria-labelledby="buy-data-tog" data-bs-parent="#sidebar">
	  			<ul class="list-unstyled  ms-3 col-list">
	  			  <li><a href="/data-bundle/mtn-sme" class="">MTN SME Data</a></li>
	  			  <li><a href="/data-bundle/mtn-special" class="">MTN Corperate Data</a></li>
	  			  <li><a href="/data-bundle/glo" class="">Glo Data</a></li>
	  			  <li><a href="/data-bundle/9mobile" class="">9mobile Data</a></li>
	  			  <li><a href="/data-bundle/airtel" class="">Airtel Data</a></li>
	  			</ul>
	  		</div>


	  		<a href="" class="<% if (title == 'MTN Airtime' || title == 'Glo Airtime' || title == 'Airtel Airtime' || title == '9mobile Airtime') { -%> active <% } -%>" data-bs-toggle="collapse" data-bs-target="#buy-airtime-tog" aria-expanded="true" aria-controls="buy-airtime-tog">
	  			<li class="bar-item">
	  				<i class="bi bi-phone-vibrate"></i>
	  				Buy airtime
	  			</li>
	  		</a>
	  		<div id="buy-airtime-tog" class="accordion-collapse collapse ms-3" aria-labelledby="buy-data-tog" data-bs-parent="#sidebar">
	  			<ul class="list-unstyled  ms-3 col-list">
	  				<li><a href="/airtime/MTN" class="">MTN Airtime</a></li>
	  				<li><a href="/airtime/Glo" class="">Glo Airtime</a></li>
	  				<li><a href="/airtime/9mobile" class="">9mobile Airtime</a></li>
	  				<li><a href="/airtime/Airtel" class="">Airtel Airtime</a></li>
	  			</ul>
	  		</div>


	  		<a href="" data-bs-toggle="collapse" data-bs-target="#utility-bill-tog" aria-expanded="true" aria-controls="utility-bill-tog">
	  			<li class="bar-item">
	  				<i class="bi bi-receipt"></i>
	  				Utility Bills
	  			</li>
	  		</a>
	  		<div id="utility-bill-tog" class="accordion-collapse collapse ms-3" aria-labelledby="buy-data-tog" data-bs-parent="#sidebar">
	  			<ul class="list-unstyled  ms-3 col-list">
	  				<li><a href="#" class="">Coming Soon...</a></li>

	  			</ul>
	  		</div>

	  		<a class="<% if (title == 'Fund wallet') { -%> active <% } -%>" href="/fund-wallet">
	  			<li class="bar-item">
	  				<i class="bi bi-wallet2"></i>
	  				Fund wallet
	  			</li>
	  		</a>


	  		<a class="<% if (title == 'Profile') { -%> active <% } -%> " href="/profile">
	  			<li class="bar-item">
	  				<i class="bi bi-gear-fill"></i>
	  				Profile
	  			</li>
	  		</a>


	  		<a class="<% if (title == 'Transactions') { -%> active <% } -%> " href="/transactions">
	  			<li class="bar-item">
	  				<i class="bi bi-receipt-cutoff"></i>
	  				Transactions
	  			</li>
	  		</a>

	  		<a href="#" data-bs-toggle="modal" data-bs-target="#notification-modal">
	  			<li class="bar-item">
	  				<i class="bi bi-app-indicator"></i>
	  				Notifications
	  			</li>
	  		</a>

	  		<a href="/logout">
	  			<li class="bar-item">
	  				<i class="bi bi-box-arrow-right"></i>
	  				Log out
	  			</li>
	  		</a>

<!-- 	  		<a href="/faqs">
	  			<li class="bar-item">
	  				<i class="bi bi-headset"></i>
	  				F.A.Qs
	  			</li>
	  		</a>
 -->
	  	</ul>
	  </div>
	</div>

		<nav class="navbar sticky-top bg-info py-0 my-0" style="box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.5);">
			<div class="container-xxl py-0 my-0">
				<div class="">
					<% if (user) { -%>												
					<button class="navbar-toggler shadow-none rounded-pill px-0 border-0 btn-sm d-lg-none me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#off-bar" aria-controls="offcanvasDarkNavbar">
			      <span class="navbar-toggler-icon" style="font-size: .5em;"></span>
			    </button>
					<% } -%>
					<a href="/" class="logo-lg d-none d-sm-inline-block"><img class="py-0 my-0 d-non" src="/logo.png"></a>
					<% if (!user) { -%>						
					<a class="btn btn-sm btn-outline-primary text d-inline-block d-sm-none"href="/signup"><i class="bi bi-box-arrow-in- me-1" style="border-color: blue;"></i>Sign up</a>
					<% } -%>
				</div>
					<a href="/" class="logo-sm d-inline-block d-sm-none"><img class="py-0 my-2" width="50" height="45" src="/logo-1.png" alt="logo-sm"></a>	
				<div>
								<% if (user && (title != 'Get cheap data')) { -%>
					<div class="btn-group rounded">
					  <button type="button" class="btn btn- bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">
							<!-- <img src="/svg/account-circle.svg"> -->
							<i class="bi bi-person-circle text-primary me-2" ></i><%= user.user_name %>
					  </button>
							<ul class="dropdown-menu">
								<!-- <li><a class="dropdown-item text-uppercase" id="currency"><%= user.user_name %></a></li> -->
								<li><a class="dropdown-item c-formt text-black font-weight-bolder"><%= fm.from(user.balance, { symbol: '₦' }) %></a></li>
								<li><a  class="dropdown-item"href="/fund-wallet">Fund Wallet</a></li>
						    <li><hr class="dropdown-divider"></li>
								<li><a  class="dropdown-item text-danger" href="/logout"><i class="bi bi-box-arrow-right me-3"></i>Log out</a></li>
							</ul>
					</div>
					<a href="/#" class="btn text-primary" data-bs-toggle="modal" data-bs-target="#notification-modal"><i class="bi bi-bell-fill"></i></a> 
					<% } -%>
							<% if (title == 'Get cheap data' || !user) { -%>
						<div class="justify-content-between w-100">
									<div class="btn-grop rounded-0 d-none d-lg-inline-block text-uppercase fw-bold justify-content-center">
										<a href="/" class="btn ">Home</a>
										<a href="/#about" class="btn ">About us</a>
										<a href="/#pricing" class="btn ">Pricing</a>
										<a href="/#services" class="btn ">Services</a>
										<!-- <a href="/#reviews" class="btn ">Reviews</a> -->
										<!-- <a href="/#faqs" class="btn ">More</a> -->
										<div class="dropdown d-inline-block">
										  <a class="btn btn-info dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										    More
										  </a>

										  <ul class="dropdown-menu">
										    <!-- <li><a class="dropdown-item" href="#">FAQs</a></li> -->
										    <li><a class="dropdown-item" href="#">Privacy policy</a></li>
										    <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
										  </ul>
										</div>
										<a href="https://tawk.to/chat/632e005c37898912e96af2a1/1gdlr2rnp" class="btn ">Contact us</a>
									</div>
									<div class="d-sm-inline-block d-none">
									<% if (!user) { -%>										
										<a  class="btn btn-sm text- btn-outline-primary"href="/login" style="border: 1px solid blue;"><i class="bi bi-box-arrow-in-right me-1"></i>Log in</a>
										<a  class="btn btn-sm btn-warning"href="/signup"><i class="bi bi-box-arrow-in- me-1"></i>Sign up</a>
									<% } else { -%>
										<a  class="btn btn-sm btn-danger"href="/logout"><i class="bi bi-box-arrow-in- me-1"></i>Sign out</a>
									<% } -%>
									</div>
									<button class="navbar-toggler shadow-none btn-sm border-0 rounded-pill d-lg-none mx-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#off-bar-top" aria-controls="offcanvasDarkNavbar">
							      <span class="navbar-toggler-icon" style="font-size: .5em;"></span>
							    </button>
								</div>									
								<% } -%>
				</div>
			</div>
		</nav>


		<!-- main -->
		<div class="containe w-100 mx-auto h-100 px-1 p-md-0 bg-light row py-auto">

				<% if (user) { -%>
			<div class="col-lg-3 div d-none d-lg-block bg-dark">
					
				<div class="side-bar h-100">
					<div id="sidebar" class="ps-3 sticky-top" style="top: 70px;">
						<ul class="list-unstyled pt-3">
							<a href="/dashboard" class="<% if (title == 'Dashboard') { -%> active <% } -%> ">
								<li class="bar-item">
									<i class="bi bi-house-fill"></i>
									Dashboard
								</li>
							</a>

							<a href="" class="<% if (title == 'MTN SME' || title == 'MTN Corporate' || title == 'Glo Data' || title == 'Airtel Data' || title == '9mobie Data') { -%> active <% } -%> " data-bs-toggle="collapse" data-bs-target="#buy-data-tog" aria-expanded="true" aria-controls="buy-data-tog">
								<li class="bar-item">
									<i class="bi bi-file-bar-graph-fill"></i>
									Buy Data
								</li>
							</a>
							<div id="buy-data-tog" class="accordion-collapse collapse ms-3" aria-labelledby="buy-data-tog" data-bs-parent="#sidebar">
								<ul class="list-unstyled  col-list">
								  <li><a href="/data-bundle/mtn-sme" class="">MTN SME Data</a></li>
								  <li><a href="/data-bundle/mtn-special" class="">MTN Corperate Data</a></li>
								  <li><a href="/data-bundle/glo" class="">Glo Data</a></li>
								  <li><a href="/data-bundle/9mobile" class="">9mobile Data</a></li>
								  <li><a href="/data-bundle/airtel" class="">Airtel Data</a></li>
								</ul>
							</div>

							<a href="" class="<% if (title == 'MTN Airtime' || title == 'Glo Airtime' || title == 'Airtel Airtime' || title == '9mobile Airtime') { -%> active <% } -%> " data-bs-toggle="collapse" data-bs-target="#buy-airtime-tog" aria-expanded="true" aria-controls="buy-airtime-tog">
								<li class="bar-item">
									<i class="bi bi-phone-vibrate"></i>
									Buy airtime
								</li>
							</a>
							<div id="buy-airtime-tog" class="accordion-collapse collapse ms-3" aria-labelledby="buy-data-tog" data-bs-parent="#sidebar">
								<ul class="list-unstyled  col-list">
									<li><a href="/airtime/MTN" class="">MTN Airtime</a></li>
									<li><a href="/airtime/Glo" class="">Glo Airtime</a></li>
									<li><a href="/airtime/9mobile" class="">9mobile Airtime</a></li>
									<li><a href="/airtime/Airtel" class="">Airtel Airtime</a></li>
								</ul>
							</div>

							<a href=""  data-bs-toggle="collapse" data-bs-target="#utility-bill-tog" aria-expanded="true" aria-controls="utility-bill-tog">
								<li class="bar-item">
									<i class="bi bi-receipt"></i>
									Utility Bills
								</li>
							</a>
							<div id="utility-bill-tog" class="accordion-collapse collapse ms-3" aria-labelledby="buy-data-tog" data-bs-parent="#sidebar">
								<ul class="list-unstyled  col-list">
									<li><a href="#" class="">Coming Soon...</a></li>

								</ul>
							</div>
							<a href="/fund-wallet" class="<% if (title == 'Fund wallet') { -%> active <% } -%> ">
								<li class="bar-item">
									<i class="bi bi-wallet2"></i>
									Fund wallet
								</li>
							</a>

							<a href="/profile" class="<% if (title == 'Profile') { -%> active <% } -%> ">
								<li class="bar-item">
									<i class="bi bi-gear-fill"></i>
									Profile
								</li>
							</a>

							<a href="/transactions" class="<% if (title == 'Transactions') { -%> active <% } -%> ">
								<li class="bar-item">
									<i class="bi bi-receipt-cutoff"></i>
									Transactions
								</li>
							</a>

							<a href="#" data-bs-toggle="modal" data-bs-target="#notification-modal">
								<li class="bar-item">
									<i class="bi bi-app-indicator"></i>
									Notifications
								</li>
							</a>

							<a href="/logout">
								<li class="bar-item">
									<i class="bi bi-box-arrow-right"></i>
									Log out
								</li>
							</a>


<!-- 							<a href="/faqs">
								<li class="bar-item">
									<i class="bi bi-headset"></i>
									F.A.Qs
								</li>
							</a>
 -->
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-9 m-0 p-0">
				<% } else {-%>					
			<div class="m-0 p-0">
				<% } -%>					
			<div id="liveAlertPlaceholder" class="px-2 m-0 text-center fixed-top mt-5  border-left-5"></div>
			<style>
				.side-bar a, .offcanvas-sidebar a{
					text-decoration: none;
					color: #ddd;
					margin-left: 0;
				}
				.side-bar li, .offcanvas-sidebar li, .side-bar .accordion-collapse a, .offcanvas-sidebar .accordion-collapse a{
					padding: 5px 20px;
					border-radius: 8px;
					align-content: center;
				}
				.side-bar .accordion-collapse a, .offcanvas-sidebar .accordion-collapse a{
					padding-top: 0;
					margin-top: 0;
					margin-bottom: 0;
				}
				.side-bar li.bar-item:hover, .offcanvas-sidebar li.bar-item:hover, .side-bar .accordion-collapse a:hover, .offcanvas-sidebar .accordion-collapse a:hover{
					background: rgba(235, 253, 255, 0.2);
				}
				.side-bar .bi, .offcanvas-sidebar .bi{
					font-size: 20px;
					color: rgba(138, 245, 255, 0.69);
					margin-right: 15px;
				}
				.active .bi{
					/*color: rgba(138, 245, 255, 0.9);*/
					color: #233;
				}
				.col-list a: hover{
					background: rgba(235, 253, 255, 0.2);
					
				}
				.sticky-top a{
					/*border-top: 0;*/
					/*border-bottom: 0;*/
					border: 0;
				}
				.sticky-top .btn-group a{
					border-radius: 0;
				}
				a.active li, a.active li:hover{
					background: #9ac !important;
					color: #124 !important;
				}
			</style>


	<script src="/js/jquery.js"></script>
	<script>
		const sidebar = document.querySelector('div.sidebar');
		const l = () => {
			let sidebar = document.querySelector('.sidebar');
			let drop = document.querySelector('i.fa-caret-down')
			if (sidebar.style.width == '60px') {
				drop.style.display = 'none'
				alert('in')
			} else {
				drop.style.display = 'block'
				console.log(document.querySelector('.sidebar').style.width)
			}
		};

		$(function(){
		  $('[data-toggle="popover"]').popover()
		});
		/*jQuery(document).ready(function($) {
			let path = window.location.pathname.split("/").pop();

			console.log(path)
			if (window.location.pathname.split("/")[] == 'airtime') {
			}

			if (path == '') {
				path = '/'
			}
			// $('#page').text(path)
			let target = $('a[href="/'+path+'"]')
			// console.log(target);
			target.addClass('active')
		})*/


	</script>